:root {
  --button-color: hsl(345, 100%, 60%);
  --back-color: hsl(237, 22%, 20%);
  --secondery-color: hsl(240, 100%, 99%);
  --accent-color: hsl(240, 1%, 84%);

  font-size: 62.5%; /* 1rem = 10px*/
}

@font-face {
  font-family: 'euclid bold';
  src: url('/assets/Euclid\ Circular\ A\ Bold.ttf') format('truetype');
  /* tipos de format()
    - opentype (otf)
    - truetype (ttf)
    - embedded-opentype
    - truetype aat (apple advanced typography)
    - svg */
}
@font-face {
  font-family: 'euclid medium';
  src: url('/assets/Euclid\ Circular\ A\ Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'euclid regular';
  src: url('/assets/Euclid\ Circular\ A\ Regular.ttf') format('truetype');
}
* {
  font-size: 1.6rem;
  font-family: euclid regular;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  transition: 400ms;
}
html {
  background-color: var(--back-color);
  z-index: 3;
  overflow-x: hidden;
}
#email {
  border: white solid 1px;
  border-radius: 0.7rem;
}
/* ----------------------------------------NAV-------------------------------------- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  min-width: 100rem;

  padding-inline: 2%;
  margin-top: .7rem;

}
.navServices {
  display: flex;
  justify-content: center;
  align-items: center;

}
.navServices  ul {
  margin: 0;
  text-decoration: none;
  
}
.deemo {
  width: 10.6rem;
  height: 3.9rem;
  min-width: 10rem;
  border-radius: 7px;
  border: none;
}
/* ----------------------------------------MEDIA-------------------------------------- */


@media (max-width: 1300px) {
  main h1 {
    font-size: 5.0rem;
  }
}

@media (max-width: 1024px) {

  * {
    text-align: center;
  }

  nav {
  min-width: 70rem;
  /* display: block; */
  }
  
  nav .logo {
    position: relative;
    margin-inline: auto;

  }


  .navServices,
  .deemo{

    transform: translateY(-10rem);
   transition: 400ms;
  }
  main {
    display: flex;
    flex-direction: column;

    margin-top: 5rem;
    
  }
  .mainImages {

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .allMainContent {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4rem;
  }
  .buttons {
    display: flex;
    flex-direction: column;

    margin-block: 4rem; 

  }

  .buttons input,
  .buttons button {
    height: 4rem;

    border: none;
    border-radius: 4rem;
  }
  .allMainImages img {
    height: 50rem!important;
  }
  
}
/* ----------------------------------------MAIN-------------------------------------- */
main {
  height: 100vh;
  width: 100vw;
}
.allMainContent {
  width: 100%;
  height: 100%;

  padding-inline: 10%;
  
  display: flex;
  justify-content:space-between;
  align-items: center;
}

h1 {
  font-size: 8.2rem;
  color: var(--secondery-color);
}
p {
  color: var(--accent-color);
  font-size: 2.4rem;
}
a {
  color: var(--secondery-color);
}
nav a:hover {
  color: black;
}
nav li:nth-child(1):hover,
nav li:nth-child(3):hover {
  transform: translateY(-1rem);
  
}
nav li:hover{

  transform: translateY(1rem);
  background-color: white;

  border-radius: 4rem;
  

}
nav img {
  cursor: pointer;
}
.buttons button {
  height: 4rem;
  padding-inline: 2rem;
  
  background-color: var(--button-color);
  color: var(--secondery-color);
  border-radius: 1rem;
  
  border: none;

}
body input:hover {
  border: solid 1rem rgba(135, 46, 46, 0.715);
}
ul {
  display: flex;
  gap: 5.3rem;
  margin-left: 29.8rem;
}
.logo {
  display: flex;
}
.mainImages {
  position: relative;
  display: flex;
  /* flex-direction: column; */


  /* width: 100%; */
}
.allMainImages {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;

  width: 60%;

}
.eclipse {
  position: absolute;
  top: 0;
  left: -10rem;

  z-index: 1;
}
.eclipse:hover {
  transform: translateY(-4rem);
}
.eclipse1 {
  position: absolute;
  top: 0;
  left: 6rem;

  z-index: 2;
}
.eclipse1:hover {
  transform: translateY(-4rem);
}
.allMainImages .img {
  position: relative;
  z-index: 3;
  
  width: 100%;
  max-width: 50rem;
  min-width: 50rem;
  height: 65.2rem;
}
.allMainImages .img:hover {
  transform: translateY(-4rem);
}
.buttons {
  display: flex;
  gap: 1.6rem;
  margin-top: 3.8rem;
}
body button {
  cursor: pointer;
}
body button:hover {
  transform: translateX(1rem);
}

nav button:hover {
  background-color: var(--button-color);
  color: white;
}

/* .send {
  width: 8.7rem;
  height: 5.5rem;
  border-radius: 7px;
  border: none;
}


.eclipse1 {
  position: absolute;
  z-index: -1;
  left: 122rem;
  bottom: 30rem;
} */

/* .autor {
  position: absolute;
  bottom: 10rem;
} */
/* -------------------------------------FOOTER----------------------------------------- */
